.container {
    display: flex;
    flex-direction: row;

    div {
        form {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: flex-end;
            padding: 20px;
        
            gap: 10px;

            button {
                background-color: #147eee;
                border: 0;
                padding: 12px 15px;
                border-radius: 10px;
                color: white;
                font-weight: 600;
            }
        }
    }
}