.container {
    display: flex;
    flex-direction: row;

    div {
        form {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: flex-end;
            padding: 20px;

            gap: 10px;

            button {
                background-color: #147eee;
                border: 0;
                padding: 12px 15px;
                border-radius: 10px;
                color: white;
                font-weight: 600;
            }
        }

        table {
            margin: 36px auto;
            width: 100%;
            border-radius: 10px;
            table-layout: fixed;
            background-color: rgb(241, 241, 241);

            thead {
                font-weight: 600;
                font-size: 1.5rem;
                color: rgb(76, 76, 76);
                background-color: rgb(230, 230, 230);

                tr {
                    th {
                        padding: 10px 0;
                    }
                }
            }

            tbody {
                td {
                    padding: 5px;
                    text-align: center;

                    div {
                        button {
                            background-color: #147eee;
                            border: 0;
                            padding: 12px 15px;
                            border-radius: 10px;
                            color: white;
                            font-weight: 600;
                            margin-right: 5px;
                        }
                    }

                }
            }
        }
    }
}

.inputContainer {
    display: flex;
    flex-direction: column;

    label {
        background-color: #FFFFFF;
        font-weight: 700;
        margin-left: 10px;
        color: rgb(76, 76, 76);
    }

    input {
        width: 300px;
        padding: 0.5rem;
        border-radius: 10px;
    }

    p {
        color: rgb(210, 62, 62);
        font-weight: 400;
    }

}

.deleteButton {
    background-color: rgb(210, 62, 62);
    border: 0;
    padding: 12px 15px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
}